<a href="https://colab.research.google.com/github/asqarbekn/Micro-Credential-2022/blob/main/Day_3_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loops

In [ ]:
for x in 'CUNY':
  print(x)

C
U
N
Y

In [ ]:
TV_Shows = ['game of thrones', 'star trek', 'stranger things']
# Creates a list of tv shows

for i in TV_Shows:
  print(i)
# Prints each value in the list of tv shows

Game of Thrones
Star Trek
Stranger Things

In [ ]:
for show in TV_Shows:
  print(show.title() + ' is one of my fav TV shows')

Game Of Thrones is one of my fav TV shows
Star Trek is one of my fav TV shows
Stranger Things is one of my fav TV shows

In [ ]:
Fruits = []

In [ ]:
Fruits.append('apple')
Fruits.append('banana')
Fruits.append('orange')
Fruits.append('strawberry')
Fruits.append('cherry')
Fruits.append('pineapple')
Fruits.append('mango')
Fruits.append('peach')
Fruits.append('raspberry')
Fruits.append('kiwi')

In [ ]:
Fruits

['apple',
 'banana',
 'orange',
 'strawberry',
 'cherry',
 'pineapple',
 'mango',
 'peach',
 'raspberry',
 'kiwi']

In [ ]:
for fruit in Fruits:
  print(f'Some fruits I like are {fruit}')

Some fruits I like are apple
Some fruits I like are banana
Some fruits I like are orange
Some fruits I like are strawberry
Some fruits I like are cherry
Some fruits I like are pineapple
Some fruits I like are mango
Some fruits I like are peach
Some fruits I like are raspberry
Some fruits I like are kiwi

In [ ]:
# Prints from 1 until 11 in a list
for x in list(range(1, 11)):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Prints numbers from 30 until 1 backwards
for x in list(range(30,1,-1)):
  print(x)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [ ]:
num = list(range(1,30))
# Creates a list of numbers in the range from 1 to 30 and assigns to variable num
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
print(min(num))
# Smallest number in the num list

print(max(num))
# Largest number in the num list

print(sum(num))
# Sum of all the numbers in the num list

print(len(num))
# Length of the list

1
29
435
29

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10, 23, 5, 6, 87, 98765, 345, 52, 3465, 4123, 454, 90]

In [ ]:
for x in l:
  if x % 2 == 0: # Checks if the number is divisible by 2
    print(x)
  else:
    print(f'{x} is not an even number')

1 is not an even number
2
3 is not an even number
4
5 is not an even number
6
7 is not an even number
8
9 is not an even number
10
23 is not an even number
5 is not an even number
6
87 is not an even number
98765 is not an even number
345 is not an even number
52
3465 is not an even number
4123 is not an even number
454
90

In [ ]:
for x in l:
  if x % 2 != 0: # Checks if the number is NOT divisible by two (if its odd)
    print(x)
  else:
    print(f'{x} is not an odd number')

1
2 is not an odd number
3
4 is not an odd number
5
6 is not an odd number
7
8 is not an odd number
9
10 is not an odd number
23
5
6 is not an odd number
87
98765
345
52 is not an odd number
3465
4123
454 is not an odd number
90 is not an odd number

In [ ]:
listSum = 0

# for loop to add the each number in the list to the listSum variable
for num in l:
  listSum += num

print(listSum)

107470

In [ ]:
dy = {'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [ ]:
for item in dy:
  print(item)

k1
k2
k3
k4

In [ ]:
# Gets all the items from the dictionary and assigns the key to the first variable (k) 
# and assigns the corresponding value to the second variable (v)
for k,v in dy.items():
  print(f'{k} : {v}')

k1 : 1
k2 : 2
k3 : 3
k4 : 4

In [ ]:
patient = {'Name': 'Jack', 'Last Name': 'Sparrow', 'MRN': '001234567', 'DOB': '22231845'}

In [ ]:
for x,y in patient.items():
  print(f'\nKey: {x} \nValue: {y}')

Key: Name
Value: Jack

Key: Last Name
Value: Sparrow

Key: MRN
Value: 001234567

Key: DOB
Value: 22231845

In [ ]:
# prints keys in patient list
for k in patient.keys():
  print(k)

Name
Last Name
MRN
DOB

In [ ]:
# prints values in patient list
for v in patient.values():
  print(v)

Jack
Sparrow
001234567
22231845

In [ ]:
# creates a dictionary of friends with their names as keys and their ages as the values
friends_ages = {'nick' : '30', 'amanda' : '34', 'john' : '36', 'haley' : '26'}

In [ ]:
# creates a new list of favorite friends
fav_friends = ['nick', 'amanda']

# uses for loop to print the names of friends 
# but if it detects any favorite friends it prints out a statement with their name and age
for name in friends_ages.keys():
  print(name.title())

  if name in fav_friends:
    print(f"Hi {name.title()}, I see you're {friends_ages[name]}")

Nick
Hi Nick, I see you're 30
Amanda
Hi Amanda, I see you're 34
John
Haley